<%= form_for(@manifesto_promise) do |f| %>
  <% if @manifesto_promise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manifesto_promise.errors.count, "error") %> prohibited this manifesto_promise from being saved:</h2>

      <ul>
      <% @manifesto_promise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :progress %><br>
    <%= f.text_field :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
